// scss 全局變量

// 響應式佈局
@mixin changeWidth($maxWidth: 1200px) {
  .container {
    max-width: $maxWidth;
  }
}

// 首次調用
@include changeWidth;

/* 小於1380px時 */
@media (max-width: 1380px) {
  .el-radio-group {
    justify-content: center !important;
  }
}

/* 小於1280px時 */
@media (max-width: 1280px) {
  @include changeWidth($maxWidth: 1100px);
}

/* 小於992px時 */
@media (max-width: 992px) {
  @include changeWidth($maxWidth: 900px);
}

/* 小於720px時 */
@media (max-width: 720px) {
  // 隱藏元素
  .xs-hidden {
    display: none;
  }
}
